
.vedio-sub {
    overflow: visible;
    padding-bottom: 0px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 300;
    color: rgb(61, 61, 61);
    line-height: 1.4;
    border-radius: 0px;
    margin-bottom: 3rem;
}