.card {
  text-align: center;
  position: relative;
  background: #fff;
  box-shadow: 0 0 20px 0 rgba(112, 121, 138, 0.18);
  -webkit-box-shadow: 0 0 20px 0 rgba(112, 121, 138, 0.18);
  text-align: center;
  box-sizing: border-box;
  margin-top: 30px;
  overflow: hidden;
  transition: .6s linear;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: 0;
}

.card__img {
  height: 8rem;
  padding-bottom: 1rem;
}

.card__logo {
  width: 10rem;
  height: 100%;
}

.card__paragraph {
  margin-bottom: 5px;
  font-weight: bold;
  font-family: 'Lora', serif;
  color: #797d8a;
  font-size: 2.2rem;
  font-family: 'Lora', serif;
}
