.navbar-light-mood {
  background-color: #4267B2;
}

.navbar-dark-mood {
  background-color: #000;
}

.light-mood {
  background-color: #FFF;
  color: #212529;
}

.dark-mood {
  background-color: #273244;
  color: #FFF;
}

.light-color-h {
  color: #212121;
}

.light-color-p {
  color: #3d3d3d;
}

.dark-color-h {
  color: #FFF;
}

.dark-color-p {
  color: #ddd;
}

.footer-light {
  background-color: #FFF;
}

.footer-dark {
  background-color: #273244;
}
